/*=========================================================
                NAVBAR
=========================================================*/

.navbar{

position:fixed;

top:0;

left:280px;

right:0;

height:78px;

background:rgba(255,255,255,.75);

backdrop-filter:blur(18px);

display:flex;

align-items:center;

justify-content:space-between;

padding:0 35px;

box-shadow:0 8px 30px rgba(0,0,0,.05);

z-index:998;

transition:.35s ease;

}

.sidebar.collapsed ~ .navbar{

left:90px;

}

.nav-left{

display:flex;

align-items:center;

gap:20px;

}

.menu-btn{

width:48px;

height:48px;

border:none;

background:#0B74B8;

color:#fff;

border-radius:14px;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

transition:.3s;

}

.menu-btn:hover{

transform:translateY(-3px);

box-shadow:0 15px 30px rgba(11,116,184,.30);

}

.search-box{

display:flex;

align-items:center;

gap:12px;

background:white;

padding:12px 18px;

border-radius:16px;

box-shadow:0 8px 20px rgba(0,0,0,.05);

width:420px;

transition:.3s;

}

.search-box:hover{

box-shadow:0 15px 35px rgba(11,116,184,.15);

}

.search-box i{

font-size:20px;

color:#0B74B8;

}

.search-box input{

border:none;

outline:none;

background:transparent;

width:100%;

font-size:15px;

}

.search-box input::placeholder{

color:#9CA3AF;

}
.nav-right{

display:flex;

align-items:center;

gap:18px;

}

.icon-btn{

position:relative;

width:48px;

height:48px;

border:none;

background:white;

border-radius:15px;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

transition:.3s;

box-shadow:0 8px 20px rgba(0,0,0,.05);

}

.icon-btn:hover{

transform:translateY(-3px);

background:#0B74B8;

color:white;

box-shadow:0 15px 30px rgba(11,116,184,.25);

}

.icon-btn i{

font-size:22px;

}

.badge{

position:absolute;

top:-4px;

right:-4px;

background:#EF4444;

color:white;

font-size:11px;

font-weight:600;

padding:3px 7px;

border-radius:999px;

}

.profile{

display:flex;

align-items:center;

gap:14px;

padding:8px 16px;

border-radius:18px;

background:white;

cursor:pointer;

transition:.3s;

box-shadow:0 8px 20px rgba(0,0,0,.05);

}

.profile:hover{

transform:translateY(-3px);

box-shadow:0 18px 35px rgba(11,116,184,.15);

}

.profile img{

width:48px;

height:48px;

border-radius:50%;

object-fit:cover;

border:3px solid #0B74B8;

}

.profile h4{

font-size:15px;

font-weight:700;

}

.profile span{

font-size:12px;

color:#6B7280;

}

.profile i{

font-size:20px;

color:#6B7280;

}

@media(max-width:1100px){

.navbar{

left:0;

padding:0 20px;

}

.search-box{

width:250px;

}

}

@media(max-width:768px){

.search-box{

display:none;

}

.profile span{

display:none;

}

.profile h4{

display:none;

}

}
.active-search{

    border:1px solid var(--primary);

    box-shadow:

    0 0 0 4px rgba(11,116,184,.12);

}