<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Navbar</title>

<link
href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
rel="stylesheet">

<link rel="stylesheet" href="../css/navbar.css">

</head>

<body>

<header class="navbar">

    <div class="nav-left">

        <button
        id="mobileMenu"
        class="menu-btn">

            <i class="ri-menu-line"></i>

        </button>

        <div class="search-box">

            <i class="ri-search-line"></i>

            <input
            type="text"
            placeholder="Search assets, employees...">

        </div>

    </div>

    <div class="nav-right">

        <button class="icon-btn">

            <i class="ri-notification-3-line"></i>

            <span class="badge">5</span>

        </button>

        <button class="icon-btn">

            <i class="ri-mail-line"></i>

            <span class="badge">2</span>

        </button>

        <div class="profile">

            <img
            src="../assets/profile.png"
            alt="Profile">

            <div>

                <h4>Admin</h4>

                <span>System Administrator</span>

            </div>

            <i class="ri-arrow-down-s-line"></i>

        </div>

    </div>

</header>

<script src="../js/navbar.js"></script>

</body>

</html>