<html>
<head>
    <link  href=" http://cdn.jsdelivr.net/npm/remixcon@4.3.0/fonts/remixcon.css" rel="stylesheet" >
</head>
<aside id="sidebar" class="sidebar slide-left">


    <!-- =========================
            Logo
    ========================== -->

    <div class="sidebar-header">

        <div class="logo">

            <div class="logo-icon">

                <i class="ri-building-2-fill"></i>

            </div>

            <div class="logo-content">

                <h2>AssetFlow</h2>

                <span>Enterprise Management</span>

            </div>

        </div>

        <button
            id="collapseBtn"
            class="collapse-btn"
            title="Collapse Sidebar">

            <i class="ri-menu-fold-line"></i>

        </button>

    </div>

    <!-- =========================
            Navigation
    ========================== -->

    <nav>

        <ul class="menu">

            <li>

                <a href="dashboard.html">

                    <i class="ri-dashboard-line"></i>

                    <span>Dashboard</span>

                </a>

            </li>

            <li>

                <a href="organization.html">

                    <i class="ri-building-4-line"></i>

                    <span>Organization</span>

                </a>

            </li>

            <li>

                <a href="assets.html">

                    <i class="ri-computer-line"></i>

                    <span>Assets</span>

                </a>

            </li>

            <li>

                <a href="allocation.html">

                    <i class="ri-share-forward-line"></i>

                    <span>Allocation & Transfer</span>

                </a>

            </li>

            <li>

                <a href="booking.html">

                    <i class="ri-calendar-check-line"></i>

                    <span>Resource Booking</span>

                </a>

            </li>

            <li>

                <a href="maintenance.html">

                    <i class="ri-tools-line"></i>

                    <span>Maintenance</span>

                </a>

            </li>

            <li>

                <a href="audit.html">

                    <i class="ri-search-eye-line"></i>

                    <span>Audit</span>

                </a>

            </li>

            <li>

                <a href="reports.html">

                    <i class="ri-bar-chart-box-line"></i>

                    <span>Reports</span>

                </a>

            </li>

            <li>

                <a href="notification.html">

                    <i class="ri-notification-3-line"></i>

                    <span>Notifications</span>

                </a>

            </li>

        </ul>

    </nav>

    <!-- =========================
            User
    ========================== -->

    <div class="sidebar-user">

        <div class="user-avatar">

            JD

        </div>

        <div class="user-info">

            <h4>John Doe</h4>

            <span>Administrator</span>

        </div>

        <button class="logout-btn">

            <i class="ri-logout-box-r-line"> </i>

        </button>

    </div>

</aside>

<body>

<script src="../js/sidebar.js"></script>

</body>
</html>